  
$breakpoints: (
    mobile: (min:320px, max:480px),
    tablet: (min:481px, max:1024px),
    pc:     (min:1025px, max:100000000000px),
);

// Responsive breakpoints 
@mixin breakpoints($devices...) {
    @each $device in $devices {
        @media (min-width:map-get(map-get($breakpoints, $device),min)) and (max-width:map-get(map-get($breakpoints, $device),max)) {
            @content;
        }
    } 
}



@mixin flex($direction:row,$justify-content:center,$align-items:center,$column-gap:5px,$row-gap:5px) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin grid($repeat:5,$width-column:1fr,$column-gap:5px,$row-gap:5px) {
    display: grid;
    grid-template-columns: repeat($repeat,$width-column);
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin shadow-border {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.25em;
}

@mixin drop-shadow {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.25em;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        z-index: 0;
    }
}

@mixin button-hover-fx {
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    // box-shadow: inset -11px -22px 0px -17px orangered;
    border-radius: 0.25em;
    p,i,a,span {
        text-decoration: none;
        position: relative;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
        z-index: 2;
        white-space: nowrap;
    }

    // &::before {
    //     content:"";
    //     position: absolute;
    //     width: 5px;
    //     height: 100%;
    //     left: 0;
    //     bottom: 0px;
    //     // border-radius:0.25em 0 0 0.25em;
    //     // background-color: orangered;
    //     z-index: 0;
    // }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: 0.25s;
        z-index: 1;
        border-radius: 0.25em;
    }
    
    &:hover {
        p,i,a,span {
            color:white;
        }
        &::after {
            width: 100%;
            height: 100%;
            background-color: orangered;
            box-shadow: orangered 0px 1px 3px 0px, orangered 0px 0px 0px 1px;
        }
    }
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey; 
        // border-radius:;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: orangered; 
        border-radius: 0.25em;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(255, 51, 0); 
    }
}

@mixin button-hover-fx-active {
    p,i,a,span {
        color:white;
    }
    &::after {
        width: 100%;
        height: 100%;
        background-color: orangered;
        box-shadow: orangered 0px 1px 3px 0px, orangered 0px 0px 0px 1px;
    }
}

@mixin image-hover {
    overflow: hidden;

    &__image {
        width: 100%;
        vertical-align: middle;
        transition: 1s ease-out;
        filter: grayscale(85%);
    }

    &:hover & {
        &__image {
            border-radius: 0.25em;
            transform: scale(1.25);
            filter: grayscale(0%);
        }
    }
}

@mixin link($duration:1s) {
    transition: $duration;
    cursor: pointer;
    &:hover {
        color:orangered;
    }
}

@mixin input-text {
    // background-color: red;
    padding: 5px;
    border:1px solid silver;
    border-radius: 0.25em;
    position: relative;
    height: 50px;

    label {
        position: absolute;
    }

    input {
        position: absolute;
        width: 100%;
        bottom: 5px;
        background: none;
        border:0;
        transition: 0.25s;
        &:focus {
            height: 20px;
            font-size: 20px;
            outline: none;
        }
    }
}