.nav {
    width: $nav_width;
    height: $nav_height;
    padding:0 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    @include flex(row,space-between,center);
    // margin-bottom: 5px;
    position: fixed;
    top:0;
    left:0;
    z-index: 500;
    &__side {
        // height: inherit;
        @include flex(row,space-between,center,15px);
        text-transform: uppercase;
        &__title {
            color:#212121;
            font-size: 0.75em;
            cursor: pointer;
            span {
                color:orangered;
            }
        }

        &:first-child & {
            @include breakpoints(mobile) {
                &__nav-items-wrapper {
                    display: none;
                }
            }
        }

        &:last-child {
            @include breakpoints(mobile,tablet) {
                p {
                    display: none;
                }
            }
        }

        &__nav-items-wrapper {
            // height: inherit;

            @include flex(row,space-between,center);
            &__nav-item {
                @include flex(row,space-between,center);
                height: 35px;
                padding: 0 10px 0 10px;

                p {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
                @include button-hover-fx;
            }
        }
    }
}