.movies-swiper {
    height: 500px;
    @include drop-shadow;
    background-color: #212121;

    * {
        position: relative;
        z-index: 1000;
    }
    @include breakpoints(mobile) {
        height: 425px;
        &__item {
            background-position: center !important;
            padding: 90px !important;
            padding-top: 30px !important;
            flex-direction: column !important;
            
            &__overview {
                width: 100%;
                text-align: center;
                align-items: center !important;
                &__title {
                    font-size: 1.25em;
                }

                &__overview {
                    display: none;
                }
            }
        }

        &__button {
            display: none;
        }

    }
    
    &__item {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position-y: -5vw;
        background-size:cover;
        // padding: 0 60px 0 60px;
        padding: 60px;
        @include flex(row,flex-start,flex-start,50px,10px);
        
        &__poster, &__overview {

        }

        &__poster {
            @include drop-shadow;
            cursor: pointer;
            flex-basis: 250px;
            &__image {
                vertical-align: middle;
                width: 100%;
            }
        }


        &__overview {
            flex-basis: 65vw;
            // float:right;
            color:whitesmoke;
            text-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
            @include flex(column,space-around,flex-start,10px,10px);
            height: 100%;
        }
    }

    &__button {
        color:#212121;
        background-color: whitesmoke;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        @include button-hover-fx;
        &:hover {
            @include button-hover-fx-active;
        }
    }
}

.swiper-pagination-bullet-active-main {
    background-color: orangered !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
    background-color: orangered !important;
}

