html,
body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color:#212121;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import 'mixins.scss';
@import 'nav.scss';
@import 'moviesList.scss';
@import 'movieReview.scss';
@import 'searchModal.scss';
@import 'searchResult.scss';
@import 'form.scss';
@import 'personOverview.scss';